textarea {
    min-height: 400px;
}
.read{
    background-color: grey;
}
.date, .sender{
    display: inline-block;
    position: relative;
    line-height: 4px;
}
.date{
    left: 50%;
}

@keyframes remove{
    0%{
        opacity: 1;
        
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        height: 0;
        margin: 0;
        line-height: 0;
        border-bottom: 0;
    }
}
.email{
    box-sizing: border-box;
    border-bottom: solid 1px black;
    margin-bottom: 4px;
    padding: 4px;
    height:100%;
    border-radius: 4px;
    animation-name: remove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
