textarea {
    min-height: 400px;
}
.read{
    background-color: grey;
}
.date, .sender{
    display: inline-block;
    position: relative;
    line-height: 4px;
}
.date{
    left: 50%;
}

@keyframes remove{
    0%{
        opacity: 1;
        line-height: 1.6;
        padding: 4px;
        margin-bottom: 4px;
        
    }
    75%{
        opacity: 0;
        margin-bottom: 4px;
        padding: 4px;
        line-height: 1.6;
    }
    100%{
        opacity: 0;
        height: 0%;
        margin-bottom: 0;
        padding: 0;
        line-height: 0;
        
      
    }
}
.email{
    box-sizing: border-box;
    border-bottom: solid 1px black;
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 4px;
    animation-name: remove;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.email h6{
    animation-name: remove;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-play-state: paused;
}
