textarea {
    min-height: 400px;
}
.read{
    background-color: grey;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.date, .sender{
    display: inline-block;
    position: relative;
    line-height: 4px;
}
.date{
    left: 50%;
}
.email{
    border-bottom: solid 1px black;
    margin-bottom: 4px;
}
